jupyterlab-language-pack-zh-CN
ipympl
# nbdime
# jupyter-wysiwyg
# jupyter-archive
digautoprofiler
jupyterlab-cell-flash
# jupyterlab_execute_time
# jupyterlab_pygments
# ipycytoscape
numpy
sympy
scipy
matplotlib
seaborn
pandas
# pandasgui
Pillow
hiplot
requests
beautifulsoup4
fastapi
aiohttp
Scrapy