# binder need
jupyterlab
jupyterhub
jupyterlab-language-pack-zh-CN
notebook
ipywidgets==7.6.6
digautoprofiler
jupyterlab-cell-flash
numpy
sympy
scipy
matplotlib
seaborn
pandas
# pandasgui
Pillow
hiplot
requests
beautifulsoup4
fastapi
aiohttp
Scrapy