jupyterlab-language-pack-zh-CN
ipywidgets
jupyter_contrib_nbextensions
digautoprofiler
jupyterlab-cell-flash
#
numpy
sympy
scipy
matplotlib
seaborn
pandas
# pandasgui
Pillow
hiplot
requests
beautifulsoup4
fastapi
aiohttp
Scrapy