### 完整的 windows 依赖包清单 ###
jupyterlab
# lab 核心插件
jupyterlab-language-pack-zh-CN
jupyterlab-git
ipywidgets
ipympl
nbdime
jupyter-wysiwyg
jupyter-archive
# python-lsp-server （@krassowski/jupyterlab-lsp） 貌似和 jupyterlab-lsp 一样。但是禁用和卸载不方便
jupyterlab-lsp
jedi-language-server
digautoprofiler
jupyterlab-recents
jupyterlab-cell-flash
jupyterspot
# lab 插件
jupyter_scheduler
jupyterlab_pygments
jupyterlab_templates
ipyuploads
ipycytoscape
jupyterlab-topbar
jupyterlab-topbar-text
# 实用工具包
rich
dearpygui
scalene
pyinspect
# 业务包
## 数据分析与可视化常用包
numpy
sympy
scipy
matplotlib
seaborn
pandas
pandasgui
Pillow
hiplot
## 网络工具常用包
requests
beautifulsoup4
fastapi
aiohttp
Scrapy